<% title '重新发送确认邮件' %>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">重新发送确认邮件</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :confirmation_token %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, '重新发送确认邮件', class: 'btn btn-primary float-right' %>
        </div>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
    <%= render 'devise/shared/links' %>
<% end %>

