<% title @node.name %>
<div class="node-page">
  <div class="node-meta">
    <div class="new-topic">
      <%# link_to '新话题', new_topic_path, :class => 'btn btn-success' %>
      <a href="#" class="btn btn-success">新话题</a>
    </div>
    <div class="left">
      <span class="node-name"><%= @node.name %></span>
      <span class="node-topic-count"><%= "#{@node.topics.count} 话题" %></span>
      <!--may have a better way to deal with empty description-->
      <p class="node-description"><%= @node.description.blank? ? '　' : @node.description %></p>
    </div>
  </div>

  <div class="topic-list">
    <% @topics.each do |t| %>
        <div class="thread">
          <div class="avatar">
            <%= image_tag t.author.avatar_url %>
          </div>
          <div class="meta">
            <div class="reply-count">
              <span><%= t.replies_count %></span>
            </div>
            <div class="title">
              <p><%= link_to t.title, t  %></p>
            </div>
            <div class="info">
              <p>
                <%= link_to t.author.nickname, t.author, class: 'author' %>
                <span class="divider">•</span>
                <span class="time"><%= t.last_replied_at %></span>
                <span class="divider">•</span>
                <span class="refresher-label">最后回复来自</span>
                <%= link_to t.refresher.nickname, t.refresher, class: 'author' %>
              </p>
            </div>
          </div>
        </div>
    <% end %>



    <!--@endforeach-->
  </div>
  <%= will_paginate @topics, renderer: BootstrapPagination::Rails %>
</div>
<%= render 'share/sidebar' %>