<div class="single-topic">
  <div class="topic">
    <div class="meta">
      <div class="info">
        <div>
          <a class="node-name" href="#">节点名</a>
          <span class="glyphicon glyphicon-time"></span> <span class="time"><%= @topic.created_at %></span>
          <span class="glyphicon glyphicon-eye-open"></span> <span class="click"><%= @topic.click_count %> 次点击</span>
          <span class="glyphicon glyphicon-star-empty"></span> <span class="favourite">21 人收藏</span>
          <span class="reply-count"><%= @topic.reply_count %></span>
        </div>
      </div>
      <div class="author">
        <div class="avatar">
          <img src="<%= @topic.user.avatar_url %>" alt="avatar"/>
        </div>
        <div class="name"><a href="#"> <%= @topic.user.nickname %> </a></div>
      </div>

    </div>
    <div class="title">
      <h4><%= @topic.title %></h4>
    </div>
    <div class="content">
      <%= @topic.content %>
    </div>
  </div>
  <div class="toolbar">
    <div class="item">
      <a class="action" href="#">
        <span class="glyphicon glyphicon-star-empty"></span>
        <span>收藏</span>
      </a>
    </div>
    <div class="item">
      <a class="action" href="#">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        <span>感谢</span>
      </a>
    </div>
    <div class="item float-right">
      <a class="action" href="#">
        <span class="glyphicon glyphicon-eye-close"></span>
        <span>忽略主题</span>
      </a>
    </div>
  </div>


  <div class="replies">
    <% position = get_first_position_in @page %>
    <% @replies.each do |r| %>
    <div class="reply" id="position-<%= position %>">
      <div class="avatar">
        <img src="<%= r.author.avatar_url %>" alt="user-avatar-<%= r.author.id %>"/>
      </div>
      <div class="right-column">
        <div class="meta">
          <a class="author" href="#"><span class="name"><%= r.author.nickname %></span></a>
          <span class="time"><%= r.created_at %></span>
          <span class="appreciation"><span class="glyphicon glyphicon-heart"></span><span class="count">3</span></span>

          <div class="actions">
            <a class="action" href="#">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <span class="name">感谢</span>
            </a>
            <a class="action" href="#">
              <span class="glyphicon glyphicon-comment"></span>
              <span class="name">回复</span>
            </a>
          </div>
        </div>
        <div class="content">
          <%= r.content  %>
        </div>
      </div>
    </div>
    <% position += 1 %>
    <% end %>

  </div>
  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @replies, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-md-12" id="reply-topic">
      <hr/>
      <%= form_for(@topic.replies.new, url: topic_replies_path(@topic), html: { role: 'form' }) do |f| %>
          <div class="form-group">
            <div class="form-group">
              <%= f.label :content, '发表回复'%>
              <%= f.text_area :content, class: 'form-control', clos: '50', rows: '10' %>
            </div>
            <%= f.submit '回复', class: 'btn btn-default' %>
          </div>
      <% end %>
    </div>
  </div>

</div>