<% title @topic.title %>

<div class="single-topic">

  <div class="topic">
    <div class="title">
      <h3><%= @topic.title %></h3>
    </div>
    <div class="meta">
      <div class="info">
        <div class="line-1">
          <div>
            <span class="glyphicon glyphicon-time"></span>
            <span class="time"><%= timeago(@topic.created_at) %></span>
          </div>
          <div>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span class="item"><%= @topic.clicks_count %> <span class="note">次点击</span></span>
          </div>
          <div>
            <span class="glyphicon glyphicon-star-empty"></span>
            <span class="item"><%= @topic.favorites_count %> <span class="note">人收藏</span></span>
          </div>
          <% if @topic.appreciations_count != 0 %>
              <div>
                <span class="glyphicon glyphicon-heart"></span>
                <span class="item"><%= @topic.appreciations_count %> <span class="note">人感谢</span></span>
              </div>
          <% end %>
        </div>
        <div class="line-2">
          <span class="reply-count"><%= @topic.replies_count %></span>
        </div>
      </div>
      <div class="author">
        <div class="avatar">
          <%= image_tag(@topic.author.avatar_url) %>
        </div>
        <div class="name"><%= link_to "#{@topic.author.nickname}", @topic.author %></div>
      </div>
    </div>
    <div class="content pen"><%= @topic.content.html_safe %></div>
  </div>

  <div class="toolbar">
    <div class="item">
      <span class="glyphicon glyphicon-star-empty"></span>
      <% if topic_favorited_by_current? @topic %>
          <%= link_to '取消收藏', topic_favorite_topic_path(@topic.id), method: :delete %>
      <% else %>
          <%= link_to '收藏', topic_favorite_topic_index_path(@topic.id), method: :post %>
      <% end %>
    </div>
    <% unless current_user_or_not_login?(@topic.author_id) %>
        <div class="item">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <% if topic_appreciated_by_current? @topic %>
              <span class="inactive">已感谢</span>
          <% else %>
              <%= link_to '感谢', topic_appreciate_path(@topic.id), method: :post %>
          <% end %>
        </div>
    <% end %>
    <div class="item float-right">
      <a class="action" href="#">
        <span class="glyphicon glyphicon-eye-close"></span>
        <span>忽略主题</span>
      </a>
    </div>
  </div>

  <div class="replies">
    <% @replies.each do |r| %>
        <%= div_for(r) do %>
            <div class="avatar">
              <%= image_tag(r.author.avatar_url, alt: r.author.id) %>
            </div>
            <div class="right-column">
              <div class="meta">
                <span class="author"><%= link_to "#{r.author.nickname}", r.author, class: 'name' %></span>
                <span class="time"><%= timeago(r.created_at) %></span>
                <% if r.appreciations_count > 0 %>
                    <span class="appreciation"><span class="glyphicon glyphicon-heart"></span><span class="count"><%= r.appreciations_count %></span></span>
                    <% if reply_appreciated_by_current? r %>
                        <span class="appreciation-sent">已感谢</span>
                    <% end %>
                <% end %>

                <div class="actions">
                  <% unless current_user_or_not_login?(r.author_id) %>
                      <% unless reply_appreciated_by_current? r %>
                      <span class="action" href="#">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                        <%= link_to '感谢', topic_topic_reply_appreciate_path(@topic, r), method: :post %>
                            </span>
                      <% end %>
                  <a class="action quote-reply" data-id="<%= r.id %>" href="#">
                    <span class="glyphicon glyphicon-comment"></span>
                    <span>回复</span>
                  </a>
                  <% end %>
                </div>
              </div>
              <% unless r.quoted_reply.nil? %>
                  <div class="quoted-reply">
                    <blockquote class="pen">
                      <p class="quoted-reply-meta">
                        引用 <%= link_to r.quoted_reply.author.nickname, r.quoted_reply.author %>
                        在 <span class="time"><%= timeago(r.quoted_reply.created_at) %></span> 的回复:
                      </p>

                      <div class="content pen">
                        <%= r.quoted_reply.content.html_safe %>
                      </div>
                    </blockquote>
                  </div>
              <% end %>
              <div class="content pen"><%= r.content.html_safe %></div>
            </div>
        <% end %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= will_paginate @replies, renderer: BootstrapPagination::Rails %>
    </div>
    <div class="col-md-12" id="reply-form">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">发表回复</h3>
        </div>
        <div class="panel-body">
          <div class="quoted-reply in-reply-form" style="display: none">
            <blockquote>
              <p class="quoted-reply-meta">
                引用 <span class="author"></span>
                在 <span class="time"></span> 的回复:
                <a class="cancel float-right" href="#">取消</a>
              </p>

              <div class="content">

              </div>
            </blockquote>
            <hr/>
          </div>

          <%= form_for(@topic.replies.new, url: topic_reply_index_path(@topic), html: {role: 'form', class:
                                                 'pen-form'}) do |f| %>
              <div class="form-group">
                <div class="form-group">
                  <div data-toggle="pen" data-placeholder="请输入回复内容..."></div>
                  <input name="content" type="hidden" value=""/>
                  <input name="quoted_reply_id" type="hidden" value=""/>
                </div>
                <%= f.submit '回复', class: 'btn btn-success float-right' %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

