<% title '密码找回' %>
<h2>密码找回</h2>
<%= simple_form_for resource, url: password_path(resource_name), as: resource_name,
                    wrapper_mappings: {
                            boolean: :vertical_boolean
                    } do |f| %>
    <%= f.error_notification %>

    <%= f.input :email, placeholder: '请输入您的 Email' %>

    <%= f.button :submit ,'发送密码找回邮件', class:'btn btn-primary float-right' %>
<% end %>


<% content_for :sidebar do %>
    <%= render 'devise/shared/links' %>
<% end %>
