<% if current_user %>
    <section class="user-specified">
      <div>
        <div class="avatar">
          <a href="<%= user_path current_user %>">
            <%= image_tag(current_user.avatar_url) %>
          </a>
        </div>
      </div>
      <p class="username"><%= link_to current_user.display_name, current_user %></p>

      <div class="meta">
        <p class="fortune"><a href="<%= fortune_alterations_path %>"><%= fortune_to_coins(current_user.fortune)
        %></a></p>
      </div>
      <p class="actions">
        <% unless current_user.daily_awarded? %>
            <a type="button" class="btn btn-info btn-xs" href="<%= daily_award_path %>"><i class="fa fa-lightbulb-o"></i> 领取每日登录奖励</a>
        <% end %>
        <a type="button" class="btn btn-success btn-xs" href="<%= new_topic_path %>"><i class="fa fa-pencil-square-o"></i> 创建话题</a>
      </p>
    </section>
<% end %>

<section class="hot-today">
  <p class="section-title">本周热议</p>
  <ul>
    <% hot_topics = Rails.cache.read('hot_topics')
       i = 1
       unless hot_topics.nil?
         hot_topics.each do |t|
    %>
            <li class="line-<%= i %>"><%= link_to t.title, topic_path(t.id) %></li>
        <%
           i = i + 1
           end
           end
        %>
  </ul>
</section>

<section class="nodes">
  <p class="section-title">
    <span>热门节点</span>
    <span class="float-right">新增节点</span>
  </p>

  <div class="list">
    <div class="hot-nodes">
      <ul>
        <%
           @hot_nodes = hot_nodes
           @hot_nodes.each do |n|
        %>
            <li><%= link_to n.name, node_path(n.slug) %></li>
        <% end %>
      </ul>

    </div>
    <div class="new-nodes">
      <ul>
        <% cache('home_sidebar_new_nodes', expires_in: 3.hours) do
          @new_nodes = Node.order(created_at: :desc).limit(5)
          @new_nodes.each do |n|
        %>
                <li><%= link_to n.name, node_path(n.slug) %></li>
            <% end end %>
      </ul>
    </div>
  </div>
</section>

<section class="site-statistics">
  <% cache('home_sidebar_site_statistics', expires_in: 1.hour) do %>
      <p class="section-title">运行状态</p>

      <p class="data">
        <span class="title">注册会员</span>
        <span class="value"><%= User.count %></span>
      </p>

      <p class="data">
        <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话题</span>
        <span class="value"><%= Topic.count %></span>
      </p>

      <p class="data">
        <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回复</span>
        <span class="value"><%= Reply.count %></span>
      </p>
  <% end %>
</section>
