<% content_for :sidebar do %>

    <section class="hot-today">
      <p class="section-title">今日热议</p>
      <ul>
        <li class="line-1"><a href="#">有人刷煎蛋的吗？官方客户端太丑..写了个第三方客户端。上两张图先</a></li>
        <li class="line-2"><a href="#">熬夜是不是会上瘾？</a></li>
        <li class="line-3"><a href="#">昨天去北京某某公司的“面试”经过</a></li>
        <li class="line-4"><a href="#">HTTPS 真会影响网站加载速度？</a></li>
        <li class="line-5"><a href="#">回复时候，人肉加入被回复者的内容，可倡议？</a></li>
        <li class="line-6"><a href="#">毕业工作三个月，觉得不适应，是走是留？</a></li>
        <li class="line-7"><a href="#">HTTPS 真会影响网站加载速度？</a></li>
      </ul>
    </section>

    <section class="nodes">
      <p class="section-title">
        <span>热门节点</span>
        <span class="float-right">新增节点</span>
      </p>

      <div class="list">
        <div class="hot-nodes">
          <ul>
            <%
               @hot_nodes = hot_nodes
               @hot_nodes.each do |n|
            %>
                <li><%= link_to n.name, node_path(n.slug) %></li>
            <% end %>
          </ul>

        </div>
        <div class="new-nodes">
          <ul>
            <% cache('home_sidebar_new_nodes', expires_in: 3.hours) do
              @new_nodes = Node.order(created_at: :desc).limit(5)
              @new_nodes.each do |n|
            %>
                    <li><%= link_to n.name, node_path(n.slug) %></li>
                <% end end %>
          </ul>
        </div>
      </div>
    </section>

    <section class="site-statistics">
      <% cache('home_sidebar_site_statistics', expires_in: 1.hour) do %>
          <p class="section-title">运行状态</p>

          <p class="data">
            <span class="title">注册会员</span>
            <span class="value"><%= User.count %></span>
          </p>

          <p class="data">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话题</span>
            <span class="value"><%= Topic.count %></span>
          </p>

          <p class="data">
            <span class="title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回复</span>
            <span class="value"><%= Reply.count %></span>
          </p>
      <% end %>
    </section>

<% end %>