<div class="cat-tab">
  <ul>
    <li class="selected"><a href="#">全部</a></li>
    <% @nodes.each do |n| %>
        <li><%= link_to n.name, node_path(n.slug) %></li>
    <% end %>
    <li><a href="#">创意</a></li>
    <li><a href="#">生活</a></li>
    <li><a href="#">城市</a></li>
    <li><a href="#">校园</a></li>
    <li><a href="#">工作</a></li>
    <li><a href="#">科技</a></li>
    <li><a href="#">品牌</a></li>
    <li><a href="#">海外</a></li>
    <li><a href="#">Apple</a></li>
  </ul>
</div>
<div class="topic-list of-index">

  <% cache('index_topic_list_view', expires_in: 30.seconds) do %>
      <% @topics.each do |t| %>
          <div class="thread">
            <div class="avatar">
              <%= image_tag(t.author.avatar_url, alt: 'avatar') %>
            </div>
            <div class="meta">
              <div class="reply-count">
                <span><%= t.replies_count %></span>
              </div>

              <div class="title">
                <p><%= link_to t.title, t %></p>
              </div>
              <div class="info">
                <p>
                  <a class="node-name" href="#"><%= t.node.name %></a> <span class="divider">•</span>
                  <%= link_to t.author.nickname, t.author, class: 'author' %>
                  <span class="divider">•</span>
                  <span class="time"><%= t.last_replied_at %></span> <span class="divider">•</span>
                  <span class="refresher-label">最后回复来自</span>
                  <%= link_to t.refresher.nickname, t.refresher, class: 'author' %>
                </p>
              </div>
            </div>
          </div>
      <% end %>
  <% end %>

  <div class="thread">
    <div class="avatar">
      <img src="https://cdn.v2ex.com/avatar/08b0/ad8c/59231_normal.png?m=1395998555" alt="avatar">
    </div>
    <div class="meta">
      <div class="reply-count">
        <span>26</span>
      </div>

      <div class="title">
        <p><a href="#">终于看了《搏击俱乐部》</a></p>
      </div>
      <div class="info">
        <p>
          <a class="node-name" href="#">电影</a> <span class="divider">•</span>
          <a class="author" href="#">Cee</a> <span class="divider">•</span>
          <span class="time">刚才</span> <span class="divider">•</span>
          <span class="refresher-label">最后回复来自</span> <a class="refresher">netpirate</a>
        </p>
      </div>
    </div>
  </div>

  <div class="thread">
    <div class="avatar">
      <img src="https://cdn.v2ex.com/avatar/0808/f7df/46773_normal.png?m=1395741362" alt="avatar">
    </div>
    <div class="meta">
      <div class="reply-count">
        <span>26</span>
      </div>

      <div class="title">
        <p><a href="#">来来来 聊聊方便面吧 有哪些比较好吃而且又比较能吃的方便面不 不要康师傅</a></p>
      </div>
      <div class="info">
        <p>
          <a class="node-name" href="#">美酒与美食</a> <span class="divider">•</span>
          <a class="author" href="#">Ritcer</a> <span class="divider">•</span>
          <span class="time">刚才</span> <span class="divider">•</span>
          <span class="refresher-label">最后回复来自</span> <a class="refresher">netpirate</a>
        </p>
      </div>
    </div>
  </div>
</div>

<%= render '/share/sidebar' %>