<!DOCTYPE html>
<html>
<head>
  <title>滕州一中校友会</title>

  <link rel="icon" type="image/x-icon" href="<%= asset_path 'favicon.ico' %>">
  <link href="<%= asset_path 'apple-touch-icon-57.png' %>" rel="apple-touch-icon-precomposed" sizes="57x57"/>
  <link href="<%= asset_path 'apple-touch-icon-114.png' %>" rel="apple-touch-icon-precomposed" sizes="114x114"/>
  <link href="<%= asset_path 'apple-touch-icon-72.png' %>" rel="apple-touch-icon-precomposed" sizes="72x72"/>
  <link href="<%= asset_path 'apple-touch-icon-144.png' %>" rel="apple-touch-icon-precomposed" sizes="144x144"/>
  <link href="<%= asset_path 'apple-touch-icon-180.png' %>" rel="apple-touch-icon-precomposed" sizes="180x180"/>

  <%= stylesheet_link_tag 'app/style', media: 'all', 'data-turbolinks-track' => false %>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-transform"/>
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <meta name="renderer" content="webkit">
</head>
<body>

<%= javascript_include_tag 'app/application', 'data-turbolinks-track' => false %>

</body>

</html>
