<% title '登录' %>
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">登录</h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal login-form'}, wrapper: :horizontal_form) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <%= f.input :password, label: '密码', required: true %>
          <% # f.input :remember_me, label: '记住我', as: :boolean if devise_mapping.rememberable?  %>

          <div class="form-group">
            <label class="password required col-sm-3 control-label" for="social_login">
              社交登录</label>

            <div class="col-sm-9">
              <a href="<%= user_omniauth_authorize_path('qq_connect') %>">
                <%= image_tag 'http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_3.png' %>
                <%#= image_tag 'social_icons/rounded/qq_r.png', class: 'login-icon' %></a>
            </div>
          </div>


        </div>
        <div class="form-actions">
          <%= f.button :submit, '登录', class: 'btn btn-primary float-right' %>
        </div>
    <% end %>
  </div>
</div>
<% content_for :sidebar do %>
    <%= render 'devise/shared/links' %>
<% end %>