<% if !current_user
     @is_current_reg_path = (request.path == new_user_registration_path) ? 'active' : ''
     @is_current_login_path = (request.path == new_user_session_path) ? 'active' : ''
%>
    <ul class="nav navbar-nav navbar-right" id="userbar">
      <li class="<%= @is_current_login_path %>"><%= link_to('登录', new_user_session_path) %></li>
      <li class="<%= @is_current_reg_path %>"><%= link_to('注册', new_user_registration_path) %></li>
    </ul>
<% else
     @is_current_notifications_path = (request.path == notifications_path || request.path == messages_path) ?
             'active' : ''
     @jumped_notifications_path = (current_user.unread_messages_count > 0) ? messages_path : notifications_path
%>
    <ul class="nav navbar-nav navbar-right" id="userbar">
      <li class="<%= @is_current_notifications_path %>">
        <a href="<%= @jumped_notifications_path %>">提醒
          <span class="badge alert-info"><%= count_or_none current_user.unread_notifications_count + current_user.unread_messages_count %></span></a>
      </li>


      <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.nickname %>
          <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <% if current_user.admin? %>
              <li><%= link_to('管理面板', cpanel_root_path) %></li>
              <li role="presentation" class="divider"></li>
          <% end %>
          <li><%= link_to('我的收藏', account_favorite_topic_path) %></li>
          <li role="presentation" class="divider"></li>
          <li><%= link_to('修改资料', edit_user_profile_path) %></li>
          <li><%= link_to('修改密码', edit_user_registration_path) %></li>
          <li class="divider"></li>
          <li><%= link_to('注销', destroy_user_session_path, method: 'delete') %></li>
        </ul>
      </li>
    </ul>
<% end %>