<!DOCTYPE html>
<html>
<head>
  <title>滕州一中校友会 - 管理面板</title>

  <%= stylesheet_link_tag 'cpanel' %>
  <%= javascript_include_tag 'application' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body id="cpanel" class="skin-black wysihtml5-supported pace-done">
<%= render 'cpanel/shared/header' %>

<div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 912px;">
  <%= render 'cpanel/shared/side_bar' %>
  <aside class="right-side">
    <%= render 'cpanel/shared/alert' %>
    <%= yield %>
  </aside>
</div>

<%= javascript_include_tag 'cpanel' %>
</body>
</html>